<div class="ui active inverted dimmer async-loader">
    <div class="ui text loader">Loading…</div>
</div>
<div class="container hidden">
    <a class="ui basic button right" cms-back><i class="ui icon arrow circle outline left"></i> Back</a>
    <h3 class="ui header">Edit {{collection.nickname}}</h3>
    <div class="ui hidden divider"></div>
    <div class="ui red segment" cms-collapsable>
        <div class="ui red ribbon label">{{collection.nickname}} Settings</div>
        <i class="compress icon collapse_toggle"></i>
        <div ng-if="collection.type == 'Page'" cms-status owner="collection" class="ui toggle checkbox">
            <input type="checkbox" name="{{collection.slug}}_published" ng-checked="collection.status == 'published'">
            <label>Published</label>
        </div>
        <div class="ui hidden divider"></div>
        <div class="basic segment collapser expanded">
            <form novalidate class="ui form" ng-submit="updateCollection(collection)" ng-model="collection" name="collectionForm">
              <div class="field required">
                    <label for="nickname">Nickname <i cms-popup class="small help circle icon" data-content="Nickname used fo CMS reference only"></i></label>
                   <input type="text" name="nickname" required ng-model="collection.nickname" />
                   <div ng-show="collectionForm.nickname.$error.required">
                        <div class="ui visible error message" style="margin-top: 10px">Nickname field required</div>
                    </div>
               </div>

                <div cms-field class="field" ng-repeat="(name, type) in collection.component.fields" fieldname="name" fieldtype="type" owner="collection" form="collectionForm"></div>
                <input ng-if="collectionForm.$valid" class="ui red basic button" type="submit" id="submit" value="Save" />
            </form>
        </div>
        <div class="ui success message" ng-model="collection.ok" ng-show="collection.ok === true">Collection info updated.</div>
    </div>
    
    
    <div class="ui error message" ng-model="collection.reorderOk" ng-show="collection.reorderOk === false">Oops! Something went wront reordering the collection items.</div>
    
    <div class="ui red segment" cms-collapsable>
        <div class="ui red ribbon label">{{collection.nickname}} Items</div>
        <div cms-bulk-status owner="collection" class="ui toggle checkbox {{checked}}">
            <input type="checkbox" name="bulk_published" ng-checked="checked == 'checked'">
            <label>Publish All</label>
        </div>
        <div ng-if="showViewToggle && collection.children.length" class="right">
           <label>View</label>
           <select ng-model="viewOptions.selectedOption" ng-options="option.name for option in viewOptions.options track by option.val">
               
           </select>
        </div>   
        <div ng-switch on="viewOptions.selectedOption.val">
            <div ng-switch-when="thumbs">
                <ng-include src="'/js/elemental/views/snippets/thumb_list.html'"></ng-include>
            </div>
            <div ng-switch-when="list">
                <ng-include src="'/js/elemental/views/snippets/collection_list.html'"></ng-include>
            </div>
            <div ng-switch-default>
                <ng-include src="'/js/elemental/views/snippets/collection_list.html'"></ng-include>
            </div>
        </div>

        <div ng-if="collection.addable == 1" class="ui basic segment">
            <a cms-add collection="collection" class="ui basic green button"><i class="add icon"></i> Add Item</a>
            <div ng-show="collection.addError === true">
                <div class="ui visible error message" style="margin-top: 10px">Oops, something went wrong. Please try again. Make sure you are using a unique nickname.</div>
            </div>
            <a ng-href="#/add/{{collection.slug}}/bulk" ng-if="showBatchCreate" class="ui basic button"><i class="ui icon upload"></i> Add Multiple</a>
        </div>
    </div>

</div>