<div class="ui active inverted dimmer async-loader">
    <div class="ui text loader">Loading…</div>
</div>
<div class="container hidden">
    <a class="ui basic button right" cms-back><i class="ui icon arrow circle outline left"></i> Back</a>
    <h3 class="ui header">Edit {{element.nickname}}</h3>
    <div class="ui hidden divider"></div>
    <div class="ui blue segment">
        <form novalidate class="ui form" ng-submit="updateElement(element)" ng-model="element" name="elementForm">
            <div class="field required">
                <label for="nickname">Nickname <i cms-popup class="small help circle icon" data-content="Nickname used fo CMS reference only"></i></label>
                <input name="nickname" type="text" required ng-model="element.nickname" />
                 <div ng-show="elementForm.nickname.$error.required">
                    <div class="ui visible error message" style="margin-top: 10px">Nickname field required</div>
                </div>
            </div>
            <div cms-field class="field" ng-repeat="(name, type) in element.component.fields" fieldname="name" fieldtype="type" owner="element" form="elementForm"></div>
            <input ng-if="elementForm.$valid" class="ui red basic button" type="submit" id="submit" value="Save" />
        </form>
        <div class="ui success message" ng-model="element" ng-show="element.ok === true">{{element.nickname}} updated.</div>
    </div>
</div>