<div class="item">
    <div class="ui header">
        <i class="home red icon"></i>
    </div>
    <div class="menu">
        <a ng-href="/cms" class="item">Dashboard</a>
    </div>
</div>

<!-- Uncomment this once you have added pages. Use similar snippet to add more resource types to sidebar -->

<!-- <div ng-if="pages.length > 0" class="item">
    <div class="ui header">
        <i class="file text outline red icon"></i>
    </div>
    <div class="menu" ng-repeat="page in pages">            
        <a class="item" ng-href="#page/{{page.slug}}/edit">{{page.nickname}}<i class="write icon"></i></a>
    </div>
</div> -->


<div class="item">
    <div class="ui header">
        <i class="users red icon"></i>
    </div>
    <div class="menu">
        <a ng-href="#users" class="item">Users</a>
    </div>
</div>
