<div class="ui segment">
    <label for="{{ fieldname }}">{{label}}</label>
    <cms-bulk-add model="owner" attribute="attribute" fieldname="fieldname">
        <div flow-init="{target: 'api/file/upload'}" flow-name="owner.flow" flow-files-submitted="$flow.upload()">
            <div class="ui basic blue button" flow-btn flow-directory ng-show="$flow.supportDirectory">
              <i class="icon folder"></i>
              Select Folder
              <input type="file" name="{{fieldname}}"  multiple="multiple" webkitdirectory="webkitdirectory" style="visibility: hidden; position: absolute;">
           </div>
           <div class="ui hidden divider"></div>
            <div class="ui grid section">
                <div class="four wide column" ng-repeat="file in $flow.files">
                    <div class="ui card">            
                        <div class="image">
                            <img flow-img="file">
                        </div>
                        <div class="content">
                            <div class="description">{{file.name}}</div>
                            <div class="ui small blue progress file-progress" ng-class="{active: file.isUploading()}">
                                <div class="bar" ng-style="{width: (file.progress() * 100) + '%'}" style="width: 100%;"></div>
                                <div class="label">{{file.progress() * 100}}% Complete</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="ui visible error message" ng-show="!$flow.supportDirectory">Error: Please use the Chrome browser for folder upload support</div>
        </div>
    </cms-bulk-add>


    
    <div ng-show="owner.errors.{{fieldname}}.length" ng-repeat="error in owner.errors[fieldname]">
        <div class="ui visible error message" style="margin-top: 10px">{{error}}</div>
    </div>
    <div ng-show="form.{{fieldname}}.$error.required">
        <div class="ui visible error message" style="margin-top: 10px">{{label}} field required</div>
    </div>
</div>
