<!-- <div id="userpic" class="userpic">
   <div class="js-preview userpic__preview"></div>
   <div class="ui basic button js-fileapi-wrapper">
      <div class="js-browse">
         <i class="icon upload"></i>
         <span class="btn-txt">Upload Image</span>
         <input type="file" name="filedata">
      </div>
      <div class="js-upload" style="display: none;">
         <div class="progress progress-success"><div class="js-progress bar"></div></div>
         <span class="btn-txt">Uploading</span>
      </div>
   </div>
   <div ng-if="width && height" class="ui blue pointing left label">{{width}}px X {{height}}px</div>
</div> -->

<!-- <div flow-init>
    <div class="ui basic blue button">
      <i class="icon file"></i>
      Select File
   </div>
   <div ng-if="width && height" class="ui blue pointing left label">{{width}}px X {{height}}px</div>
</div> -->