.edit-view .container{
	margin-top: 5%;
	max-height: 90%;
	overflow: scroll;
	padding: 15px;

}

.right {
	float: right;
}

.as-sortable-item {
	border: none !important;
	background-color: transparent !important;
}

.sortable-grid {
	display: inline-block;
}

.sortable-grid .as-sortable-item, .sortable-grid .as-sortable-placeholder {
	display: inline-block;
}

.thumb {
	width: 100%;
}